.exercise {
  --set-input-width: 70px;
  --set-input-height: calc(var(--set-input-width) / 1.62 - var(--set-input-between));
  --set-input-between: 5px;
  position: relative;
  height: 100%;
  background-color: #ffffff;
}
.exercise__layout {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
/* ---------------------------------------------------------------------------- */
.exercise__head {
  width: 200px;
  margin-right: 15px;
}
.exercise-head {}
.exercise-head__number {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #cccccc;
}
.exercise-head__name {
  font-size: 18px;
  line-height: 1.2;
}
/* ---------------------------------------------------------------------------- */
.exercise__stats {
  width: 130px;
  margin-right: 15px;
  padding: 10px 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
/* ---------------------------------------------------------------------------- */
.exercise__sets-wrapper {
  flex: 1;
}
.exercise__sets {
  display: flex;
  flex-flow: row wrap;
}
.exercise__ex-set {}

/* ---------------------------------------------------------------------------- */
.exercise__overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
}
.exercise-name__edit {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}
.exercise-name__input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 5px;
}
.exercise-name__input:focus {
  outline: none;
  border-color: #555555;
}
.exercise-name__done-btn {
  margin-left: 15px;
  background-color: #d9ffce;
}
/* ---------------------------------------------------------------------------- */
.exercise__menu-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.exercise__dropdown {
  top: -10px;
  right: -10px;
}

/* THEME: GIRLS
-------------------------------------------------------------------- */
.theme-girls .exercise__stats {
  border-color: hsl(309, 45%, 90%);
}