.exercise {
  --set-input-width: 70px;
  --set-input-height: calc(var(--set-input-width) / 1.62 - var(--set-input-between));
  --set-input-between: 5px;
  position: relative;
  height: 100%;
  background-color: transparent;
  border-radius: 5px;
}
.exercise__layout {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin-right: -15px;
}
.exercise__col {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px dashed rgba(0, 0, 0, 0.1);
}
.exercise__col:last-child {
  margin-right: 15px;
  padding-right: 0;
  border-right: 0;
}
/* ---------------------------------------------------------------------------- */
.exercise__head {
  width: 220px;
}
.exercise-head {}
.exercise-head__number {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #cccccc;
}
.exercise-head__name {
  font-size: 18px;
  line-height: 1.2;
}
/* ---------------------------------------------------------------------------- */
.exercise__stats {
  width: 150px;
  padding-right: 15px;
  border-right: 1px dashed rgba(0, 0, 0, 0.1);
}
.exercise-stats {
  padding-top: 5px;
}
.exercise-stats__item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 8px;
  border-bottom: 1px dashed #eaeaea;
}
.exercise-stats__item:last-child {
  margin-bottom: 0;
}
.exercise-stats__term {
  color: #a1a1a1;
}
.exercise-stats__value {
  font-weight: bold;
  /* color: #000 !important; */
}
.exercise-stats__units {
  font-weight: normal;
}

.exercise-stats__item--volume > .exercise-stats__term {}
.exercise-stats__item--volume > .exercise-stats__value {
  color: #d2189f;
}

.exercise-stats__item--intensity > .exercise-stats__term {}
.exercise-stats__item--intensity > .exercise-stats__value {
  color: #34ca1a;
}

.exercise-stats__item--reps > .exercise-stats__term {}
.exercise-stats__item--reps > .exercise-stats__value {
  color: #1e6bdc;
}

/* ---------------------------------------------------------------------------- */
.exercise__sets-wrapper {
  flex: 1;
  margin-top: -5px;
  margin-bottom: -5px;
}
.exercise__sets {
  display: flex;
  flex-flow: row wrap;
}
.exercise__ex-set {}

/* ---------------------------------------------------------------------------- */
.exercise__overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
}
.exercise-name__edit {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}
.exercise-name__input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 5px;
}
.exercise-name__input:focus {
  outline: none;
  border-color: #555555;
}
.exercise-name__done-btn {
  margin-left: 15px;
  background-color: #d9ffce;
}
/* ---------------------------------------------------------------------------- */
.exercise__menu-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.exercise__dropdown {
  top: -10px;
  right: -10px;
}