.schedule {}
.schedule__message {
  margin-bottom: 15px;
}
.schedule__create-button {
  margin-top: 15px;
}
.schedule__year-selector {
  margin-bottom: 15px;
}
.schedule__button {
  margin-right: 10px;
}

.schedule-button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 1;
  border: 2px solid #eaeaea;
  background-color: #ffffff;
  color: #333333;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}
.schedule-button:hover {
  border-color: #c1c1c1;
}
.schedule-button--active,
.schedule-button--active:hover {
  border-color: #333333;
}


.app-message {
  padding: 20px;
  border-radius: 5px;
}
.app-message__title {
  margin-bottom: 2px;
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
}
.app-message_reason {
  font-size: 16px;
  line-height: 1.2;
  color: #a1a1a1;
}


.app-message--error { background-color: #fdf0f0; }
.app-message--error .app-message__title { color: #d03535; }
.app-message--error .app-message__reason { color: #826161; }

.app-message--success { background-color: #f4fdf0; }
.app-message--success .app-message__title { color: #4cab23; }
.app-message--success .app-message__reason { color: #718261; }

.app-message--info { background-color: #f0f8fd; }
.app-message--info .app-message__title { color: #3075a0; }
.app-message--info .app-message__reason { color: #617682; }