.wsch-exercise {
  --set-input-width: 60px;
  --set-input-height: 40px;
  --set-input-between: 5px;
  position: relative;
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #b1b1b1;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); */
}
.wsch-exercise__layout {
  position: relative;
  display: flex;
  flex-flow: column wrap;
}
.wsch-exercise__head {
  margin-bottom: 15px;
}
.wsch-exercise__number {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #cccccc;
}
.wsch-exercise__name {
  font-size: 18px;
  line-height: 1.2;
}
.wsch-exercise__sets-wrapper {
  flex: 1;
}
.wsch-exercise__sets {
  display: flex;
  flex-flow: row wrap;
  margin-right: -10px;
  margin-bottom: 5px;
}
.wsch-exercise__set {
  margin-right: 10px;
  margin-bottom: 10px;
}
.wsch-exercise__stats {}

/* ---------------------------------------------------------------------------- */
.wsch-exercise__overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
}
.wsch-exercise-name-editor {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}
.wsch-exercise-name-editor__input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 5px;
}
.wsch-exercise-name-editor__input:focus {
  outline: none;
  border-color: #555555;
}
.wsch-exercise-name-editor__done-btn {
  margin-left: 15px;
  background-color: #d9ffce;
}
/* ---------------------------------------------------------------------------- */
.wsch-exercise__menu-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}
.wsch-exercise__menu-btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown.wsch-exercise__dropdown {
  top: -5px;
  right: -5px;
  left: auto;
  width: 200px;
}