/* WEEK
------------------------------------------------------ */
.ysch-week {
  --week-gradient-type: circle;
  --week-gradient-pos: right bottom;
  --week-gradient-start-offset: 10%;
  --week-gradient-end-offset: 10%;
  position: relative;
  display: flex;
  flex-flow: row wrap; 
  padding: 15px;
  line-height: 1;
  background-color: #ffffff;
}
.ysch-week--current {
  z-index: 1;
  box-shadow: 0 0 0 10px #ff9e9e;
  border-radius: 5px;
}
.ysch-week__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ysch-week__header {
  display: flex;
  flex-flow: column wrap;
  padding-right: 15px;
}
.ysch-week__number {
  width: 32px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -1px;
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  border-radius: 5px;
}
.ysch-week__menu-button {}
.ysch-week__body {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.ysch-week__cycle-name {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.75);
}
.ysch-week__cycle-name::first-letter {
  text-transform: uppercase;
}
.ysch-week__id {
  display: inline-block;
  margin-bottom: 15px;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px dashed rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.ysch-week__days {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  margin-right: -5px;
  margin-bottom: 10px;
}
.ysch-week__stats {}
.ysch-week__day {
  min-width: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.ysch-week__tail {
  margin-left: 15px;
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

/* NONE
------------------------------------------------------ */
.ysch-week--cycle_none {
  background: radial-gradient(
    var(--week-gradient-type) at var(--week-gradient-pos),
    rgba(128, 128, 128, 0.1) var(--week-gradient-start-offset),
    rgba(0, 0, 0, 0) var(--week-gradient-end-offset)
  );
}
.ysch-week--cycle_none .ysch-week__cycle-name {
  color: #a1a1a1;
}

/* RELAX
------------------------------------------------------ */
.ysch-week--cycle_relax {
  background: radial-gradient(
    var(--week-gradient-type) at var(--week-gradient-pos),
    rgba(213, 228, 255, 0.5) var(--week-gradient-start-offset),
    rgba(0, 0, 0, 0) var(--week-gradient-end-offset)
  );
}
.ysch-week--cycle_relax .ysch-week__cycle-name {
  color: #4d87e4;
}

/* VOLUME
------------------------------------------------------ */
.ysch-week--cycle_volume {
  background: radial-gradient(
    var(--week-gradient-type) at var(--week-gradient-pos),
    rgba(175, 255, 235, 0.5) var(--week-gradient-start-offset),
    rgba(0, 0, 0, 0) var(--week-gradient-end-offset)
  );
}
.ysch-week--cycle_volume .ysch-week__cycle-name {
  color: #3fc7a6;
}

/* VOLUME-STRENGTH
------------------------------------------------------ */
.ysch-week--cycle_volume-strength {
  background: radial-gradient(
    var(--week-gradient-type) at var(--week-gradient-pos),
    rgba(248, 206, 255, 0.5) var(--week-gradient-start-offset),
    rgba(0, 0, 0, 0) var(--week-gradient-end-offset)
  );
}
.ysch-week--cycle_volume-strength .ysch-week__cycle-name {
  color: #c765d8;
}

/* STRENGTH
------------------------------------------------------ */
.ysch-week--cycle_strength {
  background: radial-gradient(
    var(--week-gradient-type) at var(--week-gradient-pos),
    rgba(255, 215, 215, 0.5) var(--week-gradient-start-offset),
    rgba(0, 0, 0, 0) var(--week-gradient-end-offset)
  );
}
.ysch-week--cycle_strength .ysch-week__cycle-name {
  color: #d25454;
}

/* FAT_BURN
------------------------------------------------------ */
.ysch-week--cycle_fat-burn {
  background: radial-gradient(
    var(--week-gradient-type) at var(--week-gradient-pos),
    rgba(255, 239, 181, 0.5) var(--week-gradient-start-offset),
    rgba(0, 0, 0, 0) var(--week-gradient-end-offset)
  );
}
.ysch-week--cycle_fat-burn .ysch-week__cycle-name {
  color: #c5a92f;
}

.dropdown.ysch-week__dropdown {
  z-index: 2;
  top: 10px;
  left: 10px;
  width: 200px;
}