.menu-day {
  position: relative;
  display: block;
  border: 2px solid #cccccc;
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}
.menu-day:hover {
  border-color: #a1a1a1;
}
.menu-day__title {
  display: flex;
  flex-flow: row nowrap;
  font-size: 18px;
  line-height: 1;
  border-bottom: 2px solid #f1f1f1;
  background-color: #ffffff;
  border-radius: 5px 5px 0 0;
}
.menu-day__day-name {
  padding: 10px 15px;
  color: #555555;
}
.menu-day__trainings {
  margin-left: auto;
  padding: 10px;
  font-weight: bold;
  line-height: 1;
  background-color: #f1f1f1;
  color: #555555;
  border-radius: 0 4px 0 0;
}
.menu-day__stats {
  padding: 10px 15px;
}
.menu-day__dropdown {
  z-index: 3;
  position: absolute;
  top: 35px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}
.menu-day__dropdown .dropdown__close-btn {
  top: -33px;
  left: 12px;
}
.menu-day__menu-button {
  z-index: 1;
  position: relative;
  margin: 3px 0 0 3px;
}
.menu-day__menu-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-day__link {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.menu-day--used {
  border-color: #83bf6b;
  background-color: #ffffff;
}
.menu-day--used:hover {
  border-color: #50883a;
}
.menu-day--used .menu-day__title {
  border-color: #c1e4b3;
  background-color: #d8ffc9;
}
.menu-day--used .menu-day__day-name {
  color: #296b10;
}
.menu-day--used .menu-day__trainings {
  background-color: #c1e4b3;
  color: #296b10;
}

.menu-day--active {
  border-color: #dabf65;
}
.menu-day--active:hover {
  border-color: #dabf65;
}
.menu-day--active .menu-day__title {
  background-color: #ffebaa;
  border-color: #ead58f;
}
.menu-day--active .menu-day__day-name {
  color: #584f32;
}
.menu-day--active .menu-day__trainings {
  background-color: #ead58f;
  color: #584f32;
}

/* THEME: GIRLS - days-menu
--------------------------------------------------------------------------------- */
.theme-girls .menu-day--active {
  border-color: #e66bd3;
}
.theme-girls .menu-day--active:hover {
  border-color: #d22fb8;
}
.theme-girls .menu-day--active .menu-day__title {
  background-color: #ffebfc;
  border-color: #fbaeef;
}
.theme-girls .menu-day--active .menu-day__day-name {
  color: #861074;
}
.theme-girls .menu-day--active .menu-day__trainings {
  background-color: #fbaeef;
  color: #981184;
}