.users {}
.users__message {
  margin-bottom: 15px;
}
.users__create-form {
  padding: 15px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  border-radius: 5px;
}
.users__list {
  display: grid;
  grid-template-columns: minmax(240px, 1fr);
  grid-auto-columns: auto;
  grid-gap: 15px;
  margin-bottom: 15px;
}
.users__user {}