.splash-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  background: url("../../assets/images/bg.jpg") center center no-repeat;
}
.splash-screen__inner {
  margin: auto;
}