.training {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  user-select: none;
}
.training:hover {
  border-color: rgba(0, 0, 0, 0.25);
}
.training__head {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 15px 15px 15px 50px;
  border-radius: 5px;
  cursor: pointer;
}
.training__head:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url("../../../assets/svg/arrow_downward_black_24dp.svg") center center no-repeat;
  transition: all 0.15s ease-in-out;
}
.training--opened > .training__head::before {
  transform: translateY(-50%) rotate(-180deg);
}
.training__title {
  margin-right: 30px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1;
  background-color: #999999;
  color: #ffffff;
  border-radius: 5px;
}
.training__menu-btn {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.training__button {
  background-color: transparent;
}
.training__button:hover {
  background-color: #ffffff;
}

.training__body {
  display: none;
  padding: 0 15px 17px 15px;
}
.training--opened > .training__body {
  display: block;
}
.training__exercises {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin-right: -10px;
  margin-bottom: -15px;
}
.training__exercise {
  flex: 1 1 calc(100% - 10px);
  margin-right: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.training__stats {}
.training-stats {
  display: flex;
  flex-flow: row wrap;
}