.training {
  overflow: hidden;
  background-color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  user-select: none;
  transition: all 0.15s ease-in-out;
}
.training:hover {
  border-color: rgba(0, 0, 0, 0.25);
}
.training__head {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 15px 15px 15px 50px;
  background-color: #f1f1f1;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}
.training__head:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url("../../../assets/svg/arrow_downward_black_24dp.svg") center center no-repeat;
  transition: all 0.15s ease-in-out;
}
.training--opened > .training__head::before {
  transform: translateY(-50%) rotate(-180deg);
}
.training__title {
  margin-right: 30px;
}
.training-title {
  position: relative;
  padding: 5px 25px 3px 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  background-color: #999999;
  color: #ffffff;
  border-radius: 5px;
}
.training-title__number {
  position: absolute;
  top: 50%;
  right: -16px;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  border-radius: 16px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
}

.training__body {
  display: none;
  padding: 15px 15px 17px 15px;
  border-top: 2px solid rgba(0, 0, 0, 0.15);
}
.training--opened > .training__body {
  display: block;
}
.training__exercises {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin-right: -15px;
}
.training__exercise {
  flex: 1 1 calc(50% - (15px + 15px));
  margin-right: 15px;
  margin-bottom: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-right: 2px dashed rgba(0, 0, 0, 0.15);
  border-bottom: 2px dashed rgba(0, 0, 0, 0.15);
  /* border-radius: 5px; */
}
.training__exercise:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.training__stats {}
.training-stats {
  display: flex;
  flex-flow: row wrap;
}
/* ---------------------------------------------------------------------------- */
.training__menu-btn {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.training__dropdown {
  right: 5px;
}

/* THEME: GIRLS
-------------------------------------------------------------------- */
.theme-girls {
  /* font-family: "OpenSans"; */
}
.theme-girls .training {
  background-color: #ffffff;
  border-color: hsl(309, 50%, 85%);
}
.theme-girls .training:hover {
  border-color: hsl(309, 50%, 60%);
}
.theme-girls .training__head {
  background-color: hsl(309, 100%, 96%);
}
.theme-girls .training-title {
  background-color: hsl(309, 78%, 40%);
}
.theme-girls .training-title__number {
  color: hsl(309, 78%, 40%);
  box-shadow: 0 0 3px 1px hsla(309, 78%, 40%, 0.75);
}
.theme-girls .training-title__name {
  background-color: hsl(309, 78%, 40%);
}
.theme-girls .training__body {
  border-top-color: hsl(309, 30%, 90%);
}
.theme-girls .training__exercise {
  border-bottom-color: hsl(309, 30%, 90%);
}

/* THEME: BOYS
-------------------------------------------------------------------- */
.theme-boys {
  /* font-family: "OpenSans"; */
}
.theme-boys .training {
  background-color: #ffffff;
  border-color: hsl(41, 55%, 85%);
}
.theme-boys .training:hover {
  border-color: hsl(41, 50%, 50%);
}
.theme-boys .training__head {
  background-color: hsl(41, 100%, 94%);
}
.theme-boys .training__title {
  background-color: hsl(41, 50%, 50%);
}
.theme-boys .training__body {
  border-top-color: hsl(41, 30%, 88%);
}
.theme-boys .training__exercise {
  border-bottom-color: hsl(41, 30%, 88%);
}

/* THEME: FOREST
-------------------------------------------------------------------- */
.theme-forest {
  /* font-family: "OpenSans"; */
}
.theme-forest .training {
  background-color: #ffffff;
  border-color: hsl(137, 50%, 80%);
}
.theme-forest .training:hover {
  border-color: hsl(137, 50%, 50%);
}
.theme-forest .training__head {
  background-color: hsl(137, 50%, 95%);
}
.theme-forest .training__title {
  background-color: hsl(137, 50%, 50%);
}
.theme-forest .training__body {
  border-top-color: hsl(137, 30%, 90%);
}
.theme-forest .training__exercise {
  border-bottom-color: hsl(137, 30%, 90%);
}