.ex-set {
  --focus-shadow-inner: 0 0 0 4px #ffffff;
  --focus-shadow-outer: 0 0 0 5px #d1d1d1;
  --input-bg-color: #f5f5f5;
  --input-text-color: #555555;
  --input-placeholder-color: #a1a1a1;
  --input-focus-bg-color: #f7f4d0;
  --input-focus-text-color: #000000;
  --input-focus-placeholder-color: #000000;
  position: relative;
  padding: 5px;
}
.ex-set__layout {
  display: flex;
  flex-flow: column;
}
.ex-set__number {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  padding: 2px 4px 2px 2px;
  font-size: 12px;
  line-height: 1;
  color: #a1a1a1;
  background-color: #ffffff;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 0 5px 5px 0;
}
.ex-set__reps {
  margin-bottom: var(--set-input-between);
}
.ex-set__weight {}
.ex-set__input {
  width: var(--set-input-width);
  height: var(--set-input-height);
  margin: 0;
  font-size: 22px;
  line-height: 1;
  border: 1px solid #e1e1e1;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  text-align: center;
  border-radius: 5px;
}
.ex-set__input::placeholder {
  font-size: 16px;
  color: var(--input-placeholder-color);
  transform: translateY(-2px);
}
.ex-set__input:focus {
  outline: none;
  border: 1px solid #a1a1a1;
  background-color: var(--input-focus-bg-color);
  color: var(--input-focus-text-color);
}
.ex-set__input:focus::placeholder {
  color: #555555;
}
.ex-set__input::selection {
  background-color: #000000;
  color: #ffffff;
}
.ex-set--focused {
  background-color: #ffffff;
  border-radius: 5px;
}
.ex-set--focused .ex-set__number {
  padding: 4px 5px 4px 2px;
  font-size: 14px;
  color: #000000;
}