.user-selector {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
  padding: 10px 40px;
  font-size: 18px;
  line-height: 1;
  background-color: #cccccc;
  color: #555555;
  border-radius: 5px;
  cursor: pointer;
}
.user-selector:before,
.user-selector:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}
.user-selector:before {
  left: 10px;
  background: url("../../../assets/svg/face_black_24dp.svg") center center no-repeat;
}
.user-selector:after {
  right: 10px;
  background: url("../../../assets/svg/expand_more_black_24dp.svg") center center no-repeat;
}
.user-selector:hover {
  background-color: #e1e1e1;
}

.user-selector--active {
  background-color: #ffde9c;
  color: #4e4024;
}
.user-selector--active:hover {
  background-color: #ffebc1;
}