.local-loading-indicator {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 10px 15px;
  line-height: 1;
  border: 1px dashed #cccccc;
  border-radius: 5px;
}
.local-loading-indicator__text {
  padding-bottom: 2px;
  font-size: 18px;
}
.local-loading-indicator__img {
  margin-right: 15px;
}