/* .year-schedule {
  --year-width: 100%;
  --year-day-width: calc(var(--year-width) / 7 - var(--year-day-mright));
  --year-day-mright: 5px;
  --year-day-mbottom: 5px;
}
.year-schedule__days {
  display: flex;
  flex-flow: row wrap;
  width: var(--year-width)
}
.year-schedule__day {
  width: var(--year-day-width);
  margin-right: var(--year-day-mright);
  margin-bottom: var(--year-day-mbottom);
} */
.year-schedule {}
/* .year-schedule__header {
  margin-bottom: 10px;
  border-bottom: 1px solid #000000;
} */

.year-schedule__year-selector {
  margin-bottom: 15px;
}
.year-schedule__button {
  margin-right: 10px;
}

.ysch-button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 1;
  border: 2px solid #eaeaea;
  background-color: #ffffff;
  color: #333333;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}
.ysch-button:hover,
.ysch-button--active {
  border-color: #333333;
}

/* WEEKS
------------------------------------------------------ */
.year-schedule__weeks {
  display: flex;
  flex-flow: row wrap;
  margin-right: -10px;
  margin-bottom: -10px;
}
.year-schedule__week {
  flex: 1;
  min-width: 440px;
  margin-right: 10px;
  margin-bottom: 10px;
}