/* button
--------------------------------------------------------------------------------- */
.button,
.button:link,
.button:visited {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  background-color: #f1f1f1;
  color: #555555;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 2px #cccccc;
}

.button:hover,
.button:active {
  background-color: #fafafa;
}


.button span {
  padding-top: 2px;
}

.button--primary,
.button--primary:link,
.button--primary:visited {
  background-color: #ffde9c;
  color: #80693b;
  box-shadow: 0 2px 2px #c3a467;
}
.button--primary:hover,
.button--primary:active {
  background-color: #ffe5b0;
}

.button--ico-text {
  padding-left: 10px;
}
.button--ico-text > img,
.button--ico-text > i,
.button--ico-text > svg {
  margin-right: 5px;
}

.button--wide {
  width: 100%;
}

.button:disabled {
  background-color: #f1f1f1;
  color: #a1a1a1;
  box-shadow: 0 2px 2px #a1a1a1;
  cursor: auto;
}

/* button icons
--------------------------------------------------------------------------------- */
.button-type1 {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.button-type1:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.button-type1 > * {
  vertical-align: middle;
}

.button-type1--sm {
  width: 32px;
  height: 32px;
}
.button-type1--md {
  width: 40px;
  height: 40px;
}
.button-type1--lg {
  width: 48px;
  height: 48px;
}