.menu-day {
  position: relative;
  display: block;
  border: 1px solid #a1a1a1;
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}
.menu-day--active,
.menu-day:hover {
  box-shadow: 0 0 0 2px #a1a1a1;
}

.menu-day__title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 18px;
  line-height: 1;
  background-color: #f1f1f1;
  border-radius: 5px 5px 0 0;
}
.menu-day__menu-button {
  z-index: 1;
  margin-left: 10px;
}
.menu-day__day-name {
  padding: 15px 15px 15px 10px;
  color: #555555;
}
.menu-day__day-name::first-letter {
  text-transform: uppercase;
}
.menu-day__trainings {
  margin-left: auto;
  padding: 15px;
  font-weight: bold;
  line-height: 1;
  color: #555555;
  border-radius: 0 5px 0 0;
}
.menu-day__stats {
  padding: 15px 20px;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}
.menu-day__menu-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.menu-day__link {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.dropdown.menu-day__dropdown {
  z-index: 3;
  position: absolute;
  top: 35px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}

/* RELAX
----------------------------------------------------------- */
.training-week--cycle_relax .menu-day--used {
  border-color: #8da7d0;
}
.training-week--cycle_relax .menu-day--used.menu-day--active,
.training-week--cycle_relax .menu-day--used:hover {
  box-shadow: 0 0 0 2px #8da7d0;
}
.training-week--cycle_relax .menu-day--used .menu-day__title {
  background-color: #ebf3ff;
}
.training-week--cycle_relax .menu-day--used .menu-day__day-name {
  color: #324e79;
}
.training-week--cycle_relax .menu-day--used .menu-day__trainings {
  color: #324e79;
}

/* VOLUME
----------------------------------------------------------- */
.training-week--cycle_volume .menu-day--used {
  border-color: #77b7a7;
}
.training-week--cycle_volume .menu-day--used.menu-day--active,
.training-week--cycle_volume .menu-day--used:hover {
  box-shadow: 0 0 0 2px #77b7a7;
}
.training-week--cycle_volume .menu-day--used .menu-day__title {
  background-color: #e0fff7;
}
.training-week--cycle_volume .menu-day--used .menu-day__day-name {
  color: #267d68;
}
.training-week--cycle_volume .menu-day--used .menu-day__trainings {
  color: #267d68;
}

/* VOLUME-STRENGTH
----------------------------------------------------------- */
.training-week--cycle_volume-strength .menu-day--used {
  border-color: #c391cc;
}
.training-week--cycle_volume-strength .menu-day--used.menu-day--active,
.training-week--cycle_volume-strength .menu-day--used:hover {
  box-shadow: 0 0 0 2px #c391cc;
}
.training-week--cycle_volume-strength .menu-day--used .menu-day__title {
  background-color: #fce7ff;
}
.training-week--cycle_volume-strength .menu-day--used .menu-day__day-name {
  color: #794982;
}
.training-week--cycle_volume-strength .menu-day--used .menu-day__trainings {
  color: #794982;
}

/* STRENGTH
----------------------------------------------------------- */
.training-week--cycle_strength .menu-day--used {
  border-color: #d87e7e;
}
.training-week--cycle_strength .menu-day--used.menu-day--active,
.training-week--cycle_strength .menu-day--used:hover {
  box-shadow: 0 0 0 2px #d87e7e;
}
.training-week--cycle_strength .menu-day--used .menu-day__title {
  background-color: #ffe7e7;
}
.training-week--cycle_strength .menu-day--used .menu-day__day-name {
  color: #792f2f;
}
.training-week--cycle_strength .menu-day--used .menu-day__trainings {
  color: #792f2f;
}

/* FAT-BURN
----------------------------------------------------------- */
.training-week--cycle_fat-burn .menu-day--used {
  border-color: #b1a571;
}
.training-week--cycle_fat-burn .menu-day--used.menu-day--active,
.training-week--cycle_fat-burn .menu-day--used:hover {
  box-shadow: 0 0 0 2px #b1a571;
}
.training-week--cycle_fat-burn .menu-day--used .menu-day__title {
  background-color: #fff8d9;
}
.training-week--cycle_fat-burn .menu-day--used .menu-day__day-name {
  color: #5a4f1d;
}
.training-week--cycle_fat-burn .menu-day--used .menu-day__trainings {
  color: #5a4f1d;
}