.app-options {}
.app-options__form {}
.form {}
.form-field {
  margin-bottom: 15px;
}

.app-opts-form {}
.app-opts-form__title {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 1;
}
.app-opts-form__sub-title {}

.app-opts-form__section {
  padding: 15px 15px 0 15px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}
.app-opts-form__section + .app-opts-form__title {
  margin-top: 25px;
}

/* section typography
------------------------------------------------------------ */
.app-opts-form__section p {
  margin-bottom: 10px;
}
.app-opts-form__section ul,
.app-opts-form__section ol {
  margin-bottom: 10px;
}
.app-opts-form__section ul:last-child,
.app-opts-form__section ol:last-child {
  margin-bottom: 0;
}

.app-opts-form__field {
  display: flex;
  flex-flow: row wrap;
  /* margin-bottom: 15px; */
  /* border-bottom: 1px dashed #cccccc; */
}
.app-opts-form__field:only-child,
.app-opts-form__field:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
.app-opts-form__control {
  width: 150px;
  margin-right: 30px;
  margin-bottom: 15px;
}
.app-opts-form__detail {
  flex: 1;
  margin-bottom: 15px;
  color: #555555;
}
.app-opts-form__label {
  display: block;
  margin-bottom: 5px;
}

/* cols
--------------------------------------------------------------- */
.small-cols {
  display: flex;
  flex-flow: row wrap;
  margin-right: -10px;
  margin-bottom: -10px;
}
.small-cols__col {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* control-input
--------------------------------------------------------------- */
.control-input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #555555;
  border-radius: 5px;
}
.control-input:focus {
  outline: none;  
  box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.25);
}

/* control-select
--------------------------------------------------------------- */
.control-select {
  display: inline-block;
  position: relative;
  width: 100%;
}
.control-select:after {
  content: "";
  position: absolute;
  top: 12px;
  right: 17px;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  pointer-events: none;
}
.control-select__native {
  width: 100%;
  padding: 10px 40px 10px 15px;
  font-size: 16px;
  border: 1px solid #555555;
  border-radius: 5px;
  appearance: none;
}
.control-select__native:focus {
  outline: none;
  box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.25);
}

/* control-checkbox
--------------------------------------------------------------- */
.control-checkbox {
  --input-checkbox-border-color: #555555;
  --input-checkbox-bg-color: #ffffff;
  --input-checkbox-checkmark-color: #ffffff;
  --input-checkbox-bg-color: #ffffff;
  --input-checkbox-checked-bg-color: #ff0000;
  --input-checkbox-checked-border-color: #ff0000;
  display: inline-block;
  position: relative;
  padding-left: 30px;
  padding-top: 2px;
  cursor: pointer;
}
.control-checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}
.control-checkbox__name:before,
.control-checkbox__name:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
.control-checkbox__name:before {
  border: 1px solid #555555;
  background-color: #ffffff;
  border-radius: 3px;
}
.control-checkbox__name:after {
  top: 1px;
  left: 6px;
  transform: rotate(45deg);
  width: 8px;
  height: 14px;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}
.control-checkbox__input:checked + .control-checkbox__name:before {
  border: 1px solid #ff0000;
  background-color: #ff0000;
}
.control-checkbox__input:focus + .control-checkbox__name:before {
  box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.25);
}