.week-schedule {
  /* background-image: url(./assets/bg.jpg); */
  background-color: #ffffff;
}

.week-schedule__layout {
  display: flex;
  flex-flow: row wrap;
}
.week-schedule__sidebar {
  max-width: 300px;
  margin-right: 15px;
}
.week-schedule__main {
  flex: 1;
}

.week-schedule__head {
  margin-bottom: 15px;
}
.wsch-head {
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0;
  background-color: #ffffff;
  border: 2px dashed #cccccc;
  outline: 2px solid #ffffff;
  outline-offset: -4px;
  border-radius: 5px;
}
.wsch-head__meta {
  padding: 15px 30px;
  background-color: #ffffff;
}
.wsch-head__def {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 5px;
  line-height: 1;
}
.wsch-head__def:last-child {
  margin-bottom: 0;
}
.wsch-head__term {
  width: 70px;
  margin-right: 15px;
  font-weight: bold;
  color: #000000;
}
.wsch-head__description {
  font-weight: normal;
  color: #000000;
}
.wsch-head__cycle > .wsch-head__description {
  display: inline-block;
  padding: 3px 9px;
  font-weight: bold;
  background-color: #a1a1a1;
  color: #ffffff;
  border-radius: 3px;
}
.wsch-head__title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  border-left: 2px dashed #cccccc;
  border-right: 2px dashed #cccccc;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  color: #a1a1a1;
}
.wsch-head__stats {
  padding: 0 15px;
}

.week-schedule__days {
  margin-bottom: 15px;
}
.week-schedule__selected-day {}

/* CYCLE: NONE (same as default)
------------------------------------------------------ */
.wsch-head--cycle_none {}

/* CYCLE: RELAX
------------------------------------------------------ */
.wsch-head--cycle_relax {
  border-color: #c3d3ec;
}
.wsch-head--cycle_relax .wsch-head__title {
  color: #2B79F4;
  border-color: #c3d3ec;
}
.wsch-head--cycle_relax .wsch-head__cycle > .wsch-head__description {
  background-color: #2B79F4;
}

/* CYCLE: VOLUME
------------------------------------------------------ */
.wsch-head--cycle_volume {
  border-color: #b7d8d0;
}
.wsch-head--cycle_volume .wsch-head__title {
  color: #02B58C;
  border-color: #b7d8d0;
}
.wsch-head--cycle_volume .wsch-head__cycle > .wsch-head__description {
  background-color: #02B58C;
}

/* CYCLE: VOLUME-STRENGTH
------------------------------------------------------ */
.wsch-head--cycle_volume-strength {
  border-color: #e3a8ec;
}
.wsch-head--cycle_volume-strength .wsch-head__title {
  color: #CD50E2;
  border-color: #e3a8ec;
}
.wsch-head--cycle_volume-strength .wsch-head__cycle > .wsch-head__description {
  background-color: #CD50E2;
}

/* CYCLE: STRENGTH
------------------------------------------------------ */
.wsch-head--cycle_strength {
  border-color: #e2bbbb;
}
.wsch-head--cycle_strength .wsch-head__title {
  color: #DF3F3F;
  border-color: #e2bbbb;
}
.wsch-head--cycle_strength .wsch-head__cycle > .wsch-head__description {
  background-color: #DF3F3F;
}

/* CYCLE: FAT_BURN
------------------------------------------------------ */
.wsch-head--cycle_fat-burn {
  border-color: #dcce91;
}
.wsch-head--cycle_fat-burn .wsch-head__title {
  color: #e6b000;
  border-color: #dcce91;
}
.wsch-head--cycle_fat-burn .wsch-head__cycle > .wsch-head__description {
  background-color: #e6b000;
}