@import "./assets/css/normalize.css";

:root {
  --main-font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  --main-text-color: #555555;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: var(--main-font-family);
  color: var(--main-text-color);
}

/* set font-family for native browser elements
--------------------------------------------------------------------------------- */
input,
button,
select {
  font-family: var(--main-font-family);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* typography
--------------------------------------------------------------------------------- */
h1,
h2,
h3,
h4 {
  margin: 0 0 10px 0;
  font-weight: normal;
  line-height: 1;
}

p {
  margin: 0 0 10px 0;
}

p:last-child {
  margin-bottom: 0;
}

p + h1,
p + h2,
p + h3,
p + h4 {
  margin-top: 25px;
}

ul,
ol {
  margin: 0 0 10px 0;
  padding: 0 0 0 17px;
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

/* button icons
--------------------------------------------------------------------------------- */
.button-type1 {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.button-type1:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.button-type1 > * {
  vertical-align: middle;
}

.button-type1--sm {
  width: 32px;
  height: 32px;
}
.button-type1--md {
  width: 40px;
  height: 40px;
}
.button-type1--lg {
  width: 48px;
  height: 48px;
}

/* button
--------------------------------------------------------------------------------- */
.button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  border: 2px solid #000000;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
}
.button span {
  padding-top: 2px;
}
.button:hover {
  border-color: #cccccc;
}

.button--ico-text {
  padding-left: 10px;
}
.button--ico-text > img,
.button--ico-text > i,
.button--ico-text > svg {
  margin-right: 5px;
}


/* utils
--------------------------------------------------------------------------------- */
.t-underlined { text-decoration: underline; }
.t-bold { font-weight: bold; }
.t-italic { font-style: italic; }