body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* STATS: DEFAULT
--------------------------------------------------------------------------------- */
.stats {
  display: flex;
  flex-flow: row wrap;
  margin-right: -10px;
  margin-bottom: -5px;
}
.stats__item {
  margin-right: 10px;
  margin-bottom: 5px;
}
.stats-item {}
.stats-item__term,
.stats-item__value {
  display: inline-block;
  padding: 6px 8px 4px 8px;
  font-weight: bold;
  line-height: 1;
}
.stats-item__term {
  color: #555555;
}
.stats-item__value {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.stats-item__units {
  padding-left: 5px;
  font-size: 14px;
  font-weight: normal;
}

.stats-item--volume {}
.stats-item--volume > .stats-item__value {
  border-color: #d2189f;
  color: #d2189f;
}

.stats-item--intensity {}
.stats-item--intensity > .stats-item__value {
  border-color: #19b52c;
  color: #19b52c;
}

.stats-item--reps {}
.stats-item--reps > .stats-item__value {
  border-color: #1e6bdc;
  color: #1e6bdc;
}

/* STATS: VERTICAL
--------------------------------------------------------------------------------- */
.stats.stats--vertical {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 0;
  margin-bottom: 0;
}
.stats--vertical .stats__item {
  margin-right: 0;
  margin-bottom: 5px;
}
.stats--vertical .stats__item:last-child {
  margin-bottom: 0;
}
.stats--vertical .stats-item {
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 5px;
  border-bottom: 1px dashed #eaeaea;
}

.stats--vertical .stats-item__term,
.stats--vertical .stats-item__value {
  padding: 0;
}
.stats--vertical .stats-item__term {
  margin-right: 10px;
  font-weight: normal;
  color: #555555;
}
.stats--vertical .stats-item__value {
  margin-left: auto;
  border: 0;
  background-color: transparent;
  text-align: right;
}
.stats--vertical .stats-item__units {
  padding-left: 5px;
  font-size: 14px;
  font-weight: normal;
}

.stats--vertical .stats-item--volume {}
.stats--vertical .stats-item--volume > .stats-item__value {
  border-color: #d2189f;
  color: #d2189f;
}

.stats--vertical .stats-item--intensity {}
.stats--vertical .stats-item--intensity > .stats-item__value {
  border-color: #19b52c;
  color: #19b52c;
}

.stats--vertical .stats-item--reps {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}
.stats--vertical .stats-item--reps > .stats-item__value {
  border-color: #1e6bdc;
  color: #1e6bdc;
}

/* STATS: WEEK
---------------------------------------------------- */
.stats--week {
  margin: 0;
}
.stats--week .stats__item {
  margin: 0;
}
.stats--week .stats-item {
  overflow: hidden;
  padding: 10px;
  border-radius: 5px;
}
.stats--week .stats-item__term,
.stats--week .stats-item__value {
  display: block;
  padding: 0;
  font-weight: bold;
  line-height: 1;
  border: 0;
  border-radius: 0;
}
.stats--week .stats-item__term {
  margin-bottom: 3px;
  color: #555555;
}
.stats--week .stats-item__value {
  font-size: 32px;
  font-weight: normal;
}
.stats--week .stats-item__units {
  padding-left: 5px;
  font-size: 18px;
  font-weight: normal;
}

.stats--week .stats-item--volume {}
.stats--week .stats-item--volume > .stats-item__value {
  color: #d2189f;
}

.stats--week .stats-item--intensity {}
.stats--week .stats-item--intensity > .stats-item__value {
  color: #19b52c;
}

.stats--week .stats-item--reps {}
.stats--week .stats-item--reps > .stats-item__value {
  color: #1e6bdc;
}

/* STATS: INACTIVE
---------------------------------------------------- */
.stats--inactive {}
.stats--inactive .stats-item__term {
  color: #cccccc;
}
.stats--inactive .stats-item__value {
  color: #cccccc !important;
}

/* button icons
--------------------------------------------------------------------------------- */
.button-type1 {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.button-type1:hover {
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.button-type1 > * {
  vertical-align: middle;
}

.button-type1--sm {
  width: 32px;
  height: 32px;
}
.button-type1--md {
  width: 40px;
  height: 40px;
}
.button-type1--lg {
  width: 48px;
  height: 48px;
}

/* button text
--------------------------------------------------------------------------------- */
.button-type2 {
  display: inline-block;
  margin: 0;
  padding: 8px 12px;
  border: 1px solid #f1f1f1;
  font-size: 14px;
  font-weight: bold;
  background-color: #f1f1f1;
  color: #555555;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.button-type2:hover {
  border-color: #a1a1a1;
}

/* dropdown-menu
--------------------------------------------------------------------------------- */
.dropdown-menu {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  transform: scaleX(0.9);
  transform-origin: 100% 50%;
  transition: all 0.15s ease-in-out;
}
.dropdown-menu--visible {
  visibility: visible;
  opacity: 1;
  transform: scaleX(1);
}
.dropdown-menu__inner {
  padding: 10px 55px 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.dropdown-menu__list {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -10px -10px 0;
  padding: 0;
  list-style: none;
}
.dropdown-menu__item {
  margin-right: 10px;
  margin-bottom: 10px;
}
.dropdown-menu__item:last-child:not(:only-child) {
  margin-bottom: 0;
}
.dropdown-menu__close-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* utils
--------------------------------------------------------------------------------- */
.t-underlined { text-decoration: underline; }
.t-bold { font-weight: bold; }
.t-italic { font-style: italic; }