body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* stats
--------------------------------------------------------------------------------- */
.stats {
  display: flex;
  flex-flow: row wrap;
  margin-right: -10px;
  margin-bottom: -5px;
}
.stats__item {
  margin-right: 10px;
  margin-bottom: 5px;
}
.stats-item {
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.stats-item > .stats-item__term,
.stats-item > .stats-item__value {
  padding: 6px 8px 4px 8px;
  font-weight: bold;
  line-height: 1;
}
.stats-item__term {
  min-width: 28px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  text-shadow: 0 1px 1px rgb(0, 0, 0, 0.25);
}
.stats-item__value {
  border-radius: 5px;
}
.stats-item__units {
  font-size: 14px;
  font-weight: normal;
}

.stats-item--volume {}
.stats-item--volume > .stats-item__term {
  background-color: hsl(317, 80%, 70%);
  color: #ffffff;
}
.stats-item--volume > .stats-item__value {
  color: hsl(317, 80%, 20%);
}

.stats-item--intensity {}
.stats-item--intensity > .stats-item__term {
  background-color: hsl(145, 65%, 60%);
  color: #ffffff;
}
.stats-item--intensity > .stats-item__value {
  color: hsl(145, 65%, 20%);
}

.stats-item--reps {}
.stats-item--reps > .stats-item__term {
  background-color: hsl(216, 80%, 70%);
  color: #ffffff;
}
.stats-item--reps > .stats-item__value {
  color: hsl(216, 80%, 20%);
}

/* button icons
--------------------------------------------------------------------------------- */
.button-type1 {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.button-type1:hover {
  background-color: #f1f1f1;
}
.button-type1 > * {
  vertical-align: middle;
}

.button-type1--sm {
  width: 32px;
  height: 32px;
}
.button-type1--md {
  width: 40px;
  height: 40px;
}
.button-type1--lg {
  width: 48px;
  height: 48px;
}

/* button text
--------------------------------------------------------------------------------- */
.button-type2 {
  display: inline-block;
  margin: 0;
  padding: 8px 12px;
  border: 1px solid #f1f1f1;
  font-size: 14px;
  font-weight: bold;
  background-color: #f1f1f1;
  color: #555555;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.button-type2:hover {
  border-color: #a1a1a1;
}

/* utils
--------------------------------------------------------------------------------- */
.t-underlined { text-decoration: underline; }
.t-bold { font-weight: bold; }
.t-italic { font-style: italic; }